---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14yf8vLSkqll2z4UmI6zvf4l&plan=base&email=matt%40email.test
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1415952562,
          "id": "cus_58x3O7J3lkAV7k",
          "livemode": false,
          "description": null,
          "email": "matt@email.test",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_58x3O7J3lkAV7k/subscriptions",
            "data": [
              {
                "id": "sub_58x3pPOXb3N9Yb",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1415690104,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1415952562,
                "status": "active",
                "customer": "cus_58x3O7J3lkAV7k",
                "cancel_at_period_end": false,
                "current_period_start": 1415952562,
                "current_period_end": 1418544562,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_58x3O7J3lkAV7k/cards",
            "data": [
              {
                "id": "card_14yf8vLSkqll2z4UB1mUlcAv",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2018,
                "fingerprint": "ScUXMLz4XUWM54rx",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_58x3O7J3lkAV7k"
              }
            ]
          },
          "default_card": "card_14yf8vLSkqll2z4UB1mUlcAv"
        }
  recorded_at: Fri, 14 Nov 2014 08:09:23 GMT
recorded_with: VCR 2.9.3
