---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14q2tXLSkqll2z4U82yNS11s&description=Sign%20up%20charge%20for%20matt%40email.test
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14q2tZLSkqll2z4UhWroLwxx",
          "object": "charge",
          "created": 1413898913,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14q2tXLSkqll2z4UdgKuXVUA",
            "object": "card",
            "last4": "1881",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "2yHIr5tVltV73NXa",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14q2tZLSkqll2z4UhWroLwxx/refunds",
            "data": []
          },
          "balance_transaction": "txn_14q2tZLSkqll2z4U6xEu3EqJ",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for matt@email.test",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Tue, 21 Oct 2014 13:41:53 GMT
recorded_with: VCR 2.9.3
