---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14yGM5LSkqll2z4UNJTiSI7n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14yGM5LSkqll2z4UNJTiSI7n",
          "created": 1415857277,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14yGM5LSkqll2z4U3KtyKBOu",
              "object": "charge",
              "created": 1415857277,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14yGM2LSkqll2z4UATmiV1uV",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2018,
                "fingerprint": "ScUXMLz4XUWM54rx",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_58XQkIe8VR6QBy"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14yGM5LSkqll2z4U3KtyKBOu/refunds",
                "data": []
              },
              "balance_transaction": "txn_14yGM5LSkqll2z4UuGNVnB3b",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_58XQkIe8VR6QBy",
              "invoice": "in_14yGM5LSkqll2z4U7NMdylZu",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "fraud_details": {
                "stripe_report": null,
                "user_report": null
              },
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_58XQdcIIC54x2N",
          "api_version": "2014-09-08"
        }
  recorded_at: Fri, 14 Nov 2014 08:09:28 GMT
recorded_with: VCR 2.9.3
