---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14otOzLSkqll2z4Ux1rWV5IL",
          "livemode": false,
          "created": 1413624093,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14otOzLSkqll2z4UJPRnOgnO",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "ScUXMLz4XUWM54rx",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sat, 18 Oct 2014 09:21:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14otOzLSkqll2z4Ux1rWV5IL&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14otP1LSkqll2z4UwSEs312Y",
          "object": "charge",
          "created": 1413624095,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14otOzLSkqll2z4UJPRnOgnO",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "ScUXMLz4XUWM54rx",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14otP1LSkqll2z4UwSEs312Y/refunds",
            "data": []
          },
          "balance_transaction": "txn_14otP1LSkqll2z4Umu4d3g6u",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Sat, 18 Oct 2014 09:21:34 GMT
recorded_with: VCR 2.9.3
