---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14pdLRLSkqll2z4UR8k0dLk4",
          "livemode": false,
          "created": 1413800697,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14pdLRLSkqll2z4UAiIcvYJI",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "Rl3GjMqiSQecdISp",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 20 Oct 2014 10:24:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14pdLRLSkqll2z4UR8k0dLk4&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14pdLTLSkqll2z4UkgIWt5i5"
          }
        }
  recorded_at: Mon, 20 Oct 2014 10:24:59 GMT
recorded_with: VCR 2.9.3
