---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_150nKLLSkqll2z4ULW8Elif8&plan=base&email=tom%40example.tv
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1416460679,
          "id": "cus_5B9dWriyUfrwdo",
          "livemode": false,
          "description": null,
          "email": "tom@example.tv",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5B9dWriyUfrwdo/subscriptions",
            "data": [
              {
                "id": "sub_5B9djP8gAdAKFj",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1415690104,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1416460679,
                "status": "active",
                "customer": "cus_5B9dWriyUfrwdo",
                "cancel_at_period_end": false,
                "current_period_start": 1416460679,
                "current_period_end": 1419052679,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5B9dWriyUfrwdo/cards",
            "data": [
              {
                "id": "card_150nKLLSkqll2z4UUZu2mbkF",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "ScUXMLz4XUWM54rx",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5B9dWriyUfrwdo"
              }
            ]
          },
          "default_card": "card_150nKLLSkqll2z4UUZu2mbkF"
        }
  recorded_at: Thu, 20 Nov 2014 05:17:59 GMT
recorded_with: VCR 2.9.3
