%section.site_title
  %h1
    / Unlimited Movies for Only 9.99 a Month.
    Sign up here to receive training in Church-planting.
  %h1
    (การอบรมตั้งคริสตจักร)
  %hr
  %h1
    = link_to "Sign Up Now!", register_path
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", sign_in_path
