---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14z2FXLSkqll2z4UWUfJfbnO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14z2FXLSkqll2z4UWUfJfbnO",
          "created": 1416041383,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14z2FWLSkqll2z4UepsehLTE",
              "object": "charge",
              "created": 1416041382,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14z2DLLSkqll2z4U35agYLxE",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2017,
                "fingerprint": "EhiE6HA0eYcn65FF",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_59K1FvNwoDZDz4"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14z2FWLSkqll2z4UepsehLTE/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_59K1FvNwoDZDz4",
              "invoice": null,
              "description": "Payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "fraud_details": {
                "stripe_report": null,
                "user_report": null
              },
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_59KvHJKTnoWUOl",
          "api_version": "2014-09-08"
        }
  recorded_at: Thu, 20 Nov 2014 05:18:19 GMT
recorded_with: VCR 2.9.3
