---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14xa8oLSkqll2z4U700J5v6Y",
          "livemode": false,
          "created": 1415695006,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14xa8oLSkqll2z4UYgxIwjJd",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "ScUXMLz4XUWM54rx",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Tue, 11 Nov 2014 08:36:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14xa8oLSkqll2z4U700J5v6Y&plan=base&email=dorcas.zboncak%40farrell.name
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1415695007,
          "id": "cus_57poMh4OmFNP67",
          "livemode": false,
          "description": null,
          "email": "dorcas.zboncak@farrell.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_57poMh4OmFNP67/subscriptions",
            "data": [
              {
                "id": "sub_57pofvwbDPCLQy",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1415690104,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1415695007,
                "status": "active",
                "customer": "cus_57poMh4OmFNP67",
                "cancel_at_period_end": false,
                "current_period_start": 1415695007,
                "current_period_end": 1418287007,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_57poMh4OmFNP67/cards",
            "data": [
              {
                "id": "card_14xa8oLSkqll2z4UYgxIwjJd",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 10,
                "exp_year": 2018,
                "fingerprint": "ScUXMLz4XUWM54rx",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_57poMh4OmFNP67"
              }
            ]
          },
          "default_card": "card_14xa8oLSkqll2z4UYgxIwjJd"
        }
  recorded_at: Tue, 11 Nov 2014 08:36:49 GMT
recorded_with: VCR 2.9.3
