---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_150nKdLSkqll2z4UwWhOS81F",
          "livemode": false,
          "created": 1416460695,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_150nKdLSkqll2z4U1BTDlsBF",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "Rl3GjMqiSQecdISp",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Thu, 20 Nov 2014 05:18:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_150nKdLSkqll2z4UwWhOS81F&plan=base&email=van%40dickenspurdy.biz
    headers:
      Authorization:
      - Bearer sk_test_U84nTSdtB1mKPNtbQXYEod6b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 20 Nov 2014 05:18:15 GMT
recorded_with: VCR 2.9.3
