!!! 5
%html(lang="en-US")
  %body
    %p Please click on the link below to reset your password:
    %p= link_to "Reset My Password", password_reset_url(@user.token) # We have to use 'password_reset_url' rather than 'password_reset_path b/c this will not longer be a part of the web ui; it will be in the user's inbox.  This 'password_reset_url(@user.token)' is for the password_resets#show route or... /password_resets/:id(.:format) ... the @user.token is taken to mean :id by the resources since it is the FIRST param passed through (even if it's not an actual id).  '@user.token' just fills the :id slot.