!!! 5
%html(lang="en-US")
  %body
    %p Please click on the link below to reset your password:
    %p= link_to "Reset My Password", password_reset_url(@user.token) # We have to use 'password_reset_url' rather than 'password_reset_path b/c this will not longer be a part of the web ui; it will be in the user's inbox.