!!! 5
%html(lang="en-US")
  %body
    %p= "You are invited by #{@invitation.inviter} to join MyFlix!"
    %p= @invitation.message
    %p= link_to "Accept this invitation", register_with_token_url(@invitation.token) # The token will uniquely represent this invitation.  The invitee will register in response to an existing invitation.